html {
  @import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;1,400;1,600&family=Poppins:wght@400;500;600;700&display=swap');
  font-family: 'Bitter', serif;
  font-family: 'Poppins', sans-serif;
}

body { 
  padding: 5%;
  background-image: url(images/bg-intro-desktop.png);
  background-color: hsl(0, 100%, 74%);
  color:aliceblue;
  height:400px;
  font-size: 16px;  
}

section#con__main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 400px;
  gap: 10px;
}

div#con__info {
  border: purple solid;
  text-align: left; 
  padding: 35px;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: xx-large;
}

p {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}

div#con__form{
  border: blue solid;
  padding: 1%;
}


div#freeSevenDays{
  text-align: center;
  padding: 1px;
  height: 50px;
  border-radius: 5px;
  background-color: hsl(248, 32%, 49%);
  margin-bottom: 15px;
}


section#formUser {
  flex-direction: column;
  background-color: aliceblue;
  color: black;
  padding: 20px;
  border-radius: 5px;
}

section#formUser input {
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}

section#formUser #send {
 background-color: hsl(154, 59%, 51%);
 color: aliceblue;
}

section#formUser p{
  text-align: center;
  font-size: smaller;
}

section#formUser p strong {
    color: hsl(0, 100%, 74%);
  }

  footer{
    margin-top: 50px;
    text-align: right;
    border: rgb(255, 0, 208) solid;
  }