html {
  @import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;1,400;1,600&family=Poppins:wght@400;500;600;700&display=swap');
  font-family: 'Bitter', serif;
  font-family: 'Poppins', sans-serif;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10%;
  background-image: url(images/bg-intro-desktop.png);
  background-color: hsl(0, 100%, 74%);
  color:aliceblue;
  font-size: 16px;  
}

div#con__info {
  border: purple solid;
}

h1 {
  font-style: normal;
  font-weight: 700;
}

p {
  font-style: normal;
  font-weight: 400;
}

div#con__form{
  border: blue solid;
}


div#freeSevenDays{
  text-align: center;
  border-radius: 5%;
  background-color: hsl(248, 32%, 49%);
}


section#formUser {
  flex-direction: column;
  background-color: aliceblue;
  color: black;
}

section#formUser #send {
 background-color: hsl(154, 59%, 51%);
 color: aliceblue;
}

section#formUser p{
  text-align: center;
  font-size: smaller;
}

section#formUser p strong {
    color: hsl(0, 100%, 74%);
  }

  footer{
    text-align: right;
  }